@font-face{
    font-family: "PFDinTextArabicW21-Thin";
    src: url("../fonts/thin/PFDinTextArabicW21-Thin.eot");
    src: url("../fonts/thin/PFDinTextArabicW21-Thin.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.woff")format("woff"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.woff2")format("woff2"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.ttf")format("truetype"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.svg#PFDinTextArabicW21-Thin")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
    font-family: "PFDinTextArabicW21-Light";
    src: url("../fonts/light/PFDinTextArabicW21-Light.eot");
    src: url("../fonts/light/PFDinTextArabicW21-Light.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/light/PFDinTextArabicW21-Light.woff")format("woff"),
	    url("../fonts/light/PFDinTextArabicW21-Light.woff2")format("woff2"),
	    url("../fonts/light/PFDinTextArabicW21-Light.ttf")format("truetype"),
	    url("../fonts/light/PFDinTextArabicW21-Light.svg#PFDinTextArabicW21-Light")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
    font-family: "PFDinTextArabicW21-Medium";
    src: url("../fonts/medium/PFDinTextArabicW21-Medium.eot");
    src: url("../fonts/medium/PFDinTextArabicW21-Medium.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.woff")format("woff"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.woff2")format("woff2"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.ttf")format("truetype"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.svg#PFDinTextArabicW21-Medium")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

:root{
    --font-thin: 'PFDinTextArabicW21-Thin', cursive;
    --font-light: 'PFDinTextArabicW21-Light', cursive;
    --font-medium: "PFDinTextArabicW21-Medium", cursive;
    --button-height: 56px;
    --primary-color: rgba(207, 156, 90, 1);
    --content-color: rgba(0, 0, 0, 1);

    --site-nav-width: 800px;
}

@mixin object-fit($fit: cover) {
    object-fit: $fit;
    width: 100%;
    height: 100%;
}

@function px_rem($px, $base: 16px) {
    @return ($px / $base) * 1rem;
}

html{
    scroll-behavior: smooth; overflow-x: hidden;
}
body{
    font-size: px_rem(20px); line-height: px_rem(22px); color: black;
    font-family: var(--font-light);
}

.icon-rounded{
    --size: 42px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
}

svg{display: block; font-size: 0; line-height: 0;}
img{display: block; line-height: 0; font-size: 0; max-width: 100%;}
figure{margin: 0;}

p{font-family: var(--font-thin);}
a{color: var(--primary-color); text-decoration: none;}
a:hover{color: var(--primary-color);}

.last-margin-0 > *:last-child{margin-bottom: 0 !important;}
.cursor-pointer {
    cursor: pointer !important;
}

.h-list{display: flex; align-items: center;}

.title-1{font-size: px_rem(44px); margin: 0; line-height: 1; text-transform: uppercase;}
.section-title{font-size: px_rem(44px); line-height: 1; font-family: var(--font-light); margin: 0; text-transform: uppercase;}

.pointer-events-none{pointer-events: none !important;}

.btn{
    border-radius: 50px; font-size: px_rem(18px);
    --bs-btn-padding-x: 2.5rem; padding-top: 7px;
    font-family: var(--font-light);
    min-height: var(--button-height);
    display: inline-flex; align-items: center; justify-content: center;
}
.btn-primary{
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
    --bs-btn-hover-bg: rgb(169 134 88);
    --bs-btn-hover-border-color: rgb(169 134 88);
}
.btn-outline-primary{
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
}

.main-content{padding: 3rem 0 5rem; position: relative;}


.content-modal{
    --bs-modal-width: 800px;

    .loading{min-height: 400px; display: flex; align-items: center; justify-content: center;}
    .loading:after{content: "Loading..."; color: black; font-size: 1rem; font-family: var(--font-medium); text-transform: uppercase}
}


@import "components/page_title_banner";
@import "components/navigation";
@import "components/header";
@import "components/footer";
@import "components/ticket_card";
@import "components/category_item";
@import "components/museum_item";
@import "components/content_row";

.pagination{
    display: flex; justify-content: center; align-items: center; gap: px_rem(20px);

    .item{display: block; color: black; text-decoration: none; font-size: px_rem(22px); line-height: 27px;}
    .item.active{color: var(--primary-color);}
    .item:not(.dots):hover{color: var(--primary-color);}

    .arrow{cursor: pointer;}
    .arrow:not(.disabled):hover{color: var(--primary-color);}
    .arrow.disabled{opacity: 0.4; pointer-events: none;}
}

@keyframes fadeOutIn {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

.flip{transform: scale(-1);}

.page-loader{
    position: fixed; display: flex; align-items: center; justify-content: center; top: 0; left: 0; width: 100%; height: 100%; background: rgba(37, 38, 42, 1); z-index: 1000;
    pointer-events: none; opacity: 1; transition: opacity 0.5s ease;

    img{max-width: 308px;}

    display: none;
}
.page-loaded .page-loader{opacity: 0;}

[data-bs-toggle="dropdown"]{cursor: pointer;}

strong{font-family: var(--font-medium); font-weight: normal;}

.object-fit-cover{width: 100%; height: 100%; object-fit: cover;}

.custom-checkbox{
    position: relative; display: flex; align-items: center; gap: 8px;

    input{position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; cursor: pointer;}

    .check{--size: 18px; pointer-events: none; display: flex; justify-content: center; align-items: center; flex-shrink: 0; width: var(--size); height: var(--size); border-radius: 2px; border: solid 1px var(--primary-color);}
    .check svg{opacity: 0;}
    .lbl{display: block; font-size: 18px; line-height: 25px; padding-top: 2px;}

    input:checked + .check{background: var(--primary-color);}
    input:checked + .check svg{opacity: 1;}
}

.search-field{
    position: relative; flex-grow: 1;

    .icon{position: absolute; top: 50%; transform: translateY(-50%); left: px_rem(26px);}
    .form-control{height: 65px; font-size: px_rem(18px); font-family: var(--font-medium); padding: 4px 26px 4px 62px; background: rgba(245, 245, 245, 1); border: 0; border-radius: 50px;}
    .form-control::-moz-placeholder{color: black; opacity: 1; font-family: var(--font-light);}
    .form-control::-webkit-input-placeholder{color: black; opacity: 1; font-family: var(--font-light);}
}

.tabs-list{gap: 14px; margin-bottom: 3rem; justify-content: center; flex-wrap: wrap;}
.tabs-list .btn{--bs-btn-padding-x: 30px; padding-top: 10px;}
.tabs-list .btn.active,
.tabs-list .btn:hover{
    background: var(--primary-color); border-color: var(--primary-color);
}

.faqs{
    .title-1{margin-bottom: 1.5rem;}

    .accordion{display: grid; grid-gap: 1rem;}
    .accordion-item{
        background: rgba(245, 245, 245, 1);
        border-radius: 16px; border: 0;
        --px: 2.375rem;
    
        .trigger{background: white; font-family: var(--font-medium); border-radius: 16px; cursor: pointer; padding: px_rem(10px) var(--px); display: flex; justify-content: space-between; align-items: center; text-transform: uppercase; font-size: px_rem(20px); line-height: px_rem(20px); min-height: 70px; box-shadow: 0 4px 20px rgba(black, 0.08);}
        .trigger span{display: block; padding-top: 3px;}
        .trigger svg{flex-shrink: 0;}
        .trigger[aria-expanded="true"] .arrow{transform: rotate(-180deg);}

        .accordion-body{padding: 1.5rem var(--px);}
        .accordion-body > *:last-child{margin-bottom: 0;}
    }
}

.swiper{overflow: hidden;}
.swiper-wrapper{display: flex;}
.swiper-slide{flex-shrink: 0; width: 100%;}

.other-museums{
    .title-bar{margin-bottom: px_rem(38px); display: flex; align-items: center; justify-content: space-between;}
    .arrows{gap: 20px;}
    .arrows .arrow{color: #A9A9A9; cursor: pointer;}
    .arrows .arrow:hover{color: var(--primary-color);}

    .category-item .content time{display: none;}
    .category-item .icon-bg{display: none;}
}

.form-element{
    position: relative;

    .icon{position: absolute; cursor: pointer; top: 50%; transform: translateY(-50%); right: 1.5rem;}

    .control-label{position: absolute; pointer-events: none; color: black; font-family: var(--font-thin); font-size: 14px; line-height: 22px; left: 1.5rem; top: 1rem;}

    .form-control{background: rgba(245, 247, 247, 1); color: black; font-family: var(--font-medium); font-size: 1rem; line-height: px_rem(22px); border: 0; padding: 36px 1.5rem 14px; border-radius: 50px;}
    .form-control::-moz-placeholder{color: inherit; opacity: 1;}
    .form-control::-webkit-input-placeholder{color: inherit; opacity: 1;}
}

.search-results{
   .grid{display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 30px;}
}

.datepicker-cell.selected, .datepicker-cell.selected:hover{background: var(--primary-color);}

.dropdown-menu{
    --bs-dropdown-item-padding-y: 4px;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-link-hover-bg: transparent;
    --bs-dropdown-link-hover-color: var(--primary-color);
    
    padding: 1rem 0; border-radius: 7px; font-size: inherit; line-height: inherit;

    .dropdown-item{font-family: var(--font-thin); font-size: px_rem(18px); line-height: 1; display: grid; grid-template-columns: auto 1fr; gap: 6px; align-items: center;}
    .dropdown-item span{padding-top: 2px;}
}

.courtyard-card{
    background: rgba(245, 245, 245, 1); border-radius: 10px; overflow: hidden;
    padding: px_rem(26px); display: grid; grid-template-columns: 1fr auto; grid-gap: px_rem(32px);

    h5{font-family: var(--font-medium); margin-bottom: 1rem; font-size: 20px; line-height: 1; text-transform: uppercase;}

    .text{padding-top: 1rem;}
    .image{width: 184px; height: 272px; border-radius: 6px; overflow: hidden;}
    .image img{width: 100%; height: 100%; object-fit: cover;}
}

.sculptures-card{
    display: flex; justify-content: space-between; align-items: center; gap: 20px; flex-wrap: wrap;

    .section-title{margin-bottom: 1.3rem;}

    .text{max-width: 706px; width: 100%;}
    .text > *:last-child{margin-bottom: 0;}
    .image{width: 646px; height: 300px; border-radius: 24px; overflow: hidden;}
    .image img{width: 100%; height: 100%; object-fit: cover;}
}

// calender UI override
.flatpickr-calendar{
    box-shadow: none; border: solid 1px #EEE; border-radius: 12px;
    padding: 20px 10px; width: auto; margin-top: 10px;

    .flatpickr-prev-month{left: auto !important; top: 13px; right: 22px;}
    .flatpickr-next-month{top: 13px;}

    .flatpickr-months .flatpickr-month{height: auto;}
    .flatpickr-current-month{
        position: relative;
        display: flex;
        padding: 0;
        height: auto;
        left: 0;
        font-family: var(--font-medium);
    }
    .flatpickr-current-month .flatpickr-monthDropdown-months{padding: 0;}

    .flatpickr-weekdays{height: auto;}
    .flatpickr-rContainer{display: block; width: 300px;}
    .flatpickr-days{width: 100%;}
    .dayContainer{
        width: auto; min-width: auto; max-width: inherit;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
        grid-gap: 5px 8px;
    }
    .flatpickr-day{
        height: 35px;
        min-width: 100%;
        line-height: 35px;
        padding-top: 4px;
        max-width: inherit;
        width: 100%;
        font-weight: normal; font-size: 14px; color: black; font-family: var(--font-medium);
        display: flex; align-items: center; justify-content: center;
    }
    .flatpickr-day.prevMonthDay{display: none;}
    .flatpickr-day.prevMonthDay,
    .flatpickr-day.nextMonthDay{color: rgba(85, 85, 85, 1);}
    .flatpickr-weekday{
        height: 35px;
        text-transform: capitalize;
        font-weight: normal;
        display: flex; align-items: center; justify-content: center; font-size: 14px; color: black; font-family: var(--font-medium);
    }
    .flatpickr-weekdays .flatpickr-weekdaycontainer{gap: 8px;}
    
    .flatpickr-day.selected,
    .flatpickr-day.today:hover,
    .flatpickr-day.today{border: 0; background: var(--primary-color); color: white;}
}

.echo-modal-video{
    video{height: 300px; width: 100%; border: 0; object-fit: cover;}
}