@font-face{
    font-family: "PFDinTextArabicW21-Thin";
    src: url("../fonts/thin/PFDinTextArabicW21-Thin.eot");
    src: url("../fonts/thin/PFDinTextArabicW21-Thin.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.woff")format("woff"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.woff2")format("woff2"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.ttf")format("truetype"),
	    url("../fonts/thin/PFDinTextArabicW21-Thin.svg#PFDinTextArabicW21-Thin")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
    font-family: "PFDinTextArabicW21-Light";
    src: url("../fonts/light/PFDinTextArabicW21-Light.eot");
    src: url("../fonts/light/PFDinTextArabicW21-Light.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/light/PFDinTextArabicW21-Light.woff")format("woff"),
	    url("../fonts/light/PFDinTextArabicW21-Light.woff2")format("woff2"),
	    url("../fonts/light/PFDinTextArabicW21-Light.ttf")format("truetype"),
	    url("../fonts/light/PFDinTextArabicW21-Light.svg#PFDinTextArabicW21-Light")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
    font-family: "PFDinTextArabicW21-Medium";
    src: url("../fonts/medium/PFDinTextArabicW21-Medium.eot");
    src: url("../fonts/medium/PFDinTextArabicW21-Medium.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.woff")format("woff"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.woff2")format("woff2"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.ttf")format("truetype"),
	    url("../fonts/medium/PFDinTextArabicW21-Medium.svg#PFDinTextArabicW21-Medium")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face {
    font-family: 'Berytus';
    src: url('../fonts/berytus-light/Berytus-Light.woff2') format('woff2'),
        url('../fonts/berytus-light/Berytus-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root{
    --font-thin: 'PFDinTextArabicW21-Thin', cursive;
    --font-light: 'PFDinTextArabicW21-Light', cursive;
    --font-medium: "PFDinTextArabicW21-Medium", cursive;
    --button-height: 56px;
    --primary-color: rgba(207, 156, 90, 1);
    --content-color: rgba(0, 0, 0, 1);

    --site-nav-width: 800px;

    // responsive breakpoints
    --breakpoint-sm: 540px;
    --breakpoint-md: 720px;
    --breakpoint-lg: 960px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1524px;
}
.abs-link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	color: transparent;
	font-size: 0;
	text-indent: -2px;
    z-index: 111;
}
.container{max-width: 1530px; --bs-gutter-x: 30px;}
@media (min-width: 1200px) {
    .container{max-width: 1560px; --bs-gutter-x: 60px;}
}
@media screen and (max-width:1200px){
    .container{
        --bs-gutter-x: 20px;
    }
}

@mixin media-breakpoint-down($name) {
    $max: map-get($grid-breakpoints, $name);
  
    @if $max != null {
      @media (max-width: ($max - 0.02)) {
        @content;
      }
    }
}
@mixin media-breakpoint-up($name) {
    $min: map-get($grid-breakpoints, $name);
  
    @if $min != null and $min != 0 {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

.font-thin{font-family: var(--font-thin);}
.font-light{font-family: var(--font-light);}
.font-medium{font-family: var(--font-medium);}

@mixin object-fit($fit: cover) {
    object-fit: $fit;
    width: 100%;
    height: 100%;
}

@function px_rem($px, $base: 16px) {
    @return ($px / $base) * 1rem;
}

html{
    scroll-behavior: smooth; overflow-x: hidden;
}
body{
    font-size: px_rem(20px); line-height: px_rem(22px); color: black;
    font-family: var(--font-light);
    overflow-x: hidden;
    @media screen and (max-width:767px){
        font-size: px_rem(17px);
        line-height: px_rem(22px);
    }
}

.icon-rounded{
    --size: 42px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
}

svg{display: block; font-size: 0; line-height: 0;}
img{display: block; line-height: 0; font-size: 0; max-width: 100%;}
figure{margin: 0;}

p{font-family: var(--font-thin); line-height: 23px;}
a{color: var(--primary-color); text-decoration: none;}
a:hover{color: var(--primary-color);}

.last-margin-0 > *:last-child{margin-bottom: 0 !important;}
.cursor-pointer {
    cursor: pointer !important;
}

@media (min-width: 768px) {
    [data-custom-cursor] {
        cursor: none;
    }
    #custom-cursor {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        z-index: 99999999;
        pointer-events: none;
        line-height: 1;
        padding: 5px;
        border: solid 1px black;
        border-radius: 50px;
        color: white;
        --size: 90px;
        width: var(--size);
        height: var(--size);
        background-color: black;
        border-radius: 50%;
        font-size: 13px;
        font-weight: bold;
    }
    #custom-cursor:after{
        content: "";
        position: absolute; top: -10px; left: -10px; width: calc(100% + 20px); height: calc(100% + 20px); border: solid 1px black; border-radius: var(--size);
    }
    #custom-cursor.active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.h-list{display: flex; align-items: center;}

.title-1{font-size: px_rem(44px); margin: 0; line-height: 1; text-transform: uppercase;}
.section-title{font-size: px_rem(44px); line-height: 1; position: relative; font-family: var(--font-light); margin: 0; text-transform: uppercase;}

.pointer-events-none{pointer-events: none !important;}

.btn{
    border-radius: 50px; font-size: px_rem(18px);
    --bs-btn-padding-x: 2.5rem; padding-top: 7px;
    font-family: var(--font-light);
    min-height: var(--button-height);
    display: inline-flex; align-items: center; justify-content: center;
    white-space: nowrap;
}
.btn-primary{
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
    --bs-btn-hover-bg: rgb(169 134 88);
    --bs-btn-hover-border-color: rgb(169 134 88);
}
.btn-outline-primary{
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
}

.main-content{padding: 3rem 0 5rem; position: relative;}


.content-modal{
    --bs-modal-width: 800px;

    .loading{min-height: 400px; display: flex; align-items: center; justify-content: center;}
    .loading:after{content: "Loading..."; color: black; font-size: 1rem; font-family: var(--font-medium); text-transform: uppercase}
}


@import "components/page_title_banner";
@import "components/navigation";
@import "components/header";
@import "components/footer";
@import "components/ticket_card";
@import "components/category_item";
@import "components/museum_item";
@import "components/content_row";

.content_row_holder{display: grid; grid-gap: 80px;}
@media (max-width: 991px) {
    .content_row_holder{gap: 60px;}
    .title-1{
        font-size: px_rem(35px);
    }
    .tabs-list .btn {
    --bs-btn-padding-x: 18px;
}
}
@media (max-width: 767px) {
    .content_row_holder{gap: 40px;}
}

.pagination{
    display: flex; justify-content: center; align-items: center; gap: px_rem(20px);

    .item{display: block; color: black; text-decoration: none; font-size: px_rem(22px); line-height: 27px;}
    .item.active{color: var(--primary-color);}
    .item:not(.dots):hover{color: var(--primary-color);}

    .arrow{cursor: pointer;}
    .arrow:not(.disabled):hover{color: var(--primary-color);}
    .arrow.disabled{opacity: 0.4; pointer-events: none;}
}

@keyframes fadeOutIn {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

.flip{transform: scale(-1);}

.page-loader{
    position: fixed; display: flex; align-items: center; justify-content: center; top: 0; left: 0; width: 100%; height: 100%; background: rgba(37, 38, 42, 1);
    z-index: 144444456; pointer-events: none; opacity: 1; transition: opacity 0.5s ease;

    img{max-width: 308px;}
}
.page-loaded .page-loader{opacity: 0;}

[data-bs-toggle="dropdown"]{cursor: pointer;}

strong{font-family: var(--font-medium); font-weight: normal;}

.object-fit-cover{width: 100%; height: 100%; object-fit: cover;}

.custom-checkbox{
    position: relative; display: flex; align-items: center; gap: 8px;

    input{position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; cursor: pointer;}

    .check{--size: 18px; pointer-events: none; display: flex; justify-content: center; align-items: center; flex-shrink: 0; width: var(--size); height: var(--size); border-radius: 2px; border: solid 1px var(--primary-color);}
    .check svg{opacity: 0;}
    .lbl{display: block; font-size: 18px; line-height: 25px; padding-top: 2px;}

    input:checked + .check{background: var(--primary-color);}
    input:checked + .check svg{opacity: 1;}
}

.tabs-list{gap: 14px; margin-bottom: 3rem; justify-content: center; flex-wrap: nowrap; overflow-x: auto;}
.tabs-list .btn{--bs-btn-padding-x: 30px;}
.tabs-list .btn.active,
.tabs-list .btn:hover{
    background: var(--primary-color); border-color: var(--primary-color);
}
@media (max-width: 1199px) {
    .tabs-list{justify-content: flex-start;}
}
@media (max-width: 991px) {
    .tabs-list{margin-bottom: 2rem;}
}

.faqs{
    .title-1{margin-bottom: 1.5rem;}

    .accordion{display: grid; grid-gap: 1rem;}
    .accordion-item{
        background: rgba(245, 245, 245, 1);
        border-radius: 16px; border: 0;
        --px: 2.375rem;
    
        .trigger{background: white; font-family: var(--font-medium); border-radius: 16px; cursor: pointer; padding: px_rem(10px) var(--px); display: flex; justify-content: space-between; align-items: center; text-transform: uppercase; font-size: px_rem(20px); line-height: px_rem(20px); min-height: 70px; box-shadow: 0 4px 20px rgba(black, 0.08);}
        .trigger span{display: block; padding-top: 3px;}
        .trigger svg{flex-shrink: 0;}
        .trigger[aria-expanded="true"] .arrow{transform: rotate(-180deg);}

        .accordion-body{padding: 1.5rem var(--px);}
        .accordion-body > *:last-child{margin-bottom: 0;}
    }
}

.swiper{overflow: hidden;}
.swiper-wrapper{display: flex;}
.swiper-slide{flex-shrink: 0; width: 100%;}

.other-museums{
    .title-bar{margin-bottom: px_rem(38px); display: flex; align-items: center; justify-content: space-between;}
    .arrows{gap: 20px;}
    .arrows .arrow{color: #A9A9A9; cursor: pointer;}
    .arrows .arrow:hover{color: var(--primary-color);}

    .category-item .content time{display: none;}
    .category-item .icon-bg{display: none;}

    @media (max-width: 767px) {
        .arrows{gap: 10px;}
    }
}

.form-element{
    position: relative;

    .icon{position: absolute; cursor: pointer; top: 50%; transform: translateY(-50%); right: 1.5rem;}

    .control-label{position: absolute; z-index: 11; pointer-events: none; color: black; font-family: var(--font-thin); font-size: 14px; line-height: 22px; left: 1.5rem; top: 1rem;}

    .form-control{background: rgba(245, 247, 247, 1); box-shadow: none; color: black; font-family: var(--font-medium); font-size: 1rem; line-height: px_rem(22px); border: 1px solid transparent; padding: 36px 1.5rem 14px; border-radius: 50px;}
    .form-control:focus{border-color: var(--primary-color);}
    .form-control::-moz-placeholder{color: inherit; opacity: 0.5;}
    .form-control::-webkit-input-placeholder{color: inherit; opacity: 0.5;}
    .select2-container{
        width:100% !important;
        
    }
    
    .select2-container--default {
        .select2-selection--single{
             box-shadow: none; color: black; font-family: var(--font-medium); font-size: 1rem; line-height: px_rem(22px); border: 1px solid transparent; padding: 32px 1.5rem 12px; border-radius: 50px !important;
            height: auto;
            background: #fff;
            .select2-selection__rendered{
                padding:0;
                padding-inline-end: 1rem;
                color: black;
                font-family: var(--font-medium);
                font-size: 1rem;
            }
            .select2-selection__arrow {
                top: 60%;
                transform: translateY(-50%);
                width: 20px;
                inset-inline-end: 17px;
                height:auto;
                b{
                    width: 10px;
                    height: 6px;
                    background: url(../images/dd_arrow.png) center center no-repeat;
                    border: 0;
                }
            }
        }
    }
    &.gray{
        .select2-container--default {
        .select2-selection--single{
            background: #f5f7f7;

        }
    }
    }
}
.search-field{
    position: relative; width: 100%; flex-grow: 1;

    .icon{position: absolute; top: 50%; transform: translateY(-50%); left: px_rem(26px);}
    .form-control{height: 65px; font-size: px_rem(18px); box-shadow: none; font-family: var(--font-medium); padding: 4px 26px 4px 62px; background: rgba(245, 245, 245, 1); border: 1px solid transparent; border-radius: 50px;}
    .form-control:focus{border-color: var(--primary-color);}
    .form-control::-moz-placeholder{color: black; opacity: 1; font-family: var(--font-light);}
    .form-control::-webkit-input-placeholder{color: black; opacity: 1; font-family: var(--font-light);}
}

.search-results{
   .grid{display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 30px;}
   @media screen and (max-width:575px){
    .grid{
        grid-template-columns:1fr;
    }
   }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #cf9c5a !important;
        color:#fff !important;
    }
    .select2-dropdown{
        border-color:#aaaaaa57 !important;
        border-radius: 20px !important;
        background: #fff !important;
        overflow: hidden;
        .select2-results__option{
            padding: 8px 20px;
            color: black;
            font-family: var(--font-medium);
            font-size:1rem;
        }
    }
.datepicker-cell.selected, .datepicker-cell.selected:hover{background: var(--primary-color);}

.dropdown-menu{
    --bs-dropdown-item-padding-y: 4px;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-link-hover-bg: transparent;
    --bs-dropdown-link-hover-color: var(--primary-color);
    overflow: hidden;
    padding: px_rem(15px); border-radius: 7px; font-size: inherit; line-height: inherit; 
    background-color: #F5F5F5;
    border:0;

    .dropdown-item{font-family: var(--font-thin); font-size: px_rem(18px); line-height: 1; display: grid; grid-template-columns: auto 1fr; gap: 6px; align-items: center; padding:7px 10px; font-size:1rem;}
    .dropdown-item span{padding-top: 2px;}
    .dropdown-item{
        &:hover{
            color:var(--primary-color);
            background-color: transparent
        }
    }
}

.courtyard-card{
    background: rgba(245, 245, 245, 1); border-radius: 10px; overflow: hidden;
    padding: px_rem(26px); display: grid; grid-template-columns: 1fr auto; grid-gap: px_rem(32px);

    h5{font-family: var(--font-medium); margin-bottom: 1rem; font-size: px_rem(20px); line-height: 1; text-transform: uppercase;}

    .text{padding-top: 1rem;}
    .image{width: 184px; height: 272px; border-radius: 6px; overflow: hidden;}
    .image img{width: 100%; height: 100%; object-fit: cover;}

    @media (max-width: 575px) {
        grid-template-columns: 1fr;

        .image{order: -1; height: 180px; width: 100%;}
        .text{padding: 0;}
    }
}

.sculptures-card{
    display: flex; justify-content: space-between; align-items: center; gap: 20px;

    .section-title{margin-bottom: 1.3rem;}

    .text{max-width: 706px; width: 100%;}
    .text > *:last-child{margin-bottom: 0;}
    .image{width: 646px; height: 300px; border-radius: 24px; overflow: hidden;}
    .image img{width: 100%; height: 100%; object-fit: cover;}

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

// calender UI override
.flatpickr-calendar{
    box-shadow: none; border: solid 1px #EEE; border-radius: 12px;
    padding: 20px 10px; width: auto; margin-top: 10px;

    .flatpickr-prev-month{left: auto !important; top: 16px; right: 22px;}
    .flatpickr-next-month{top: 16px;}

    .flatpickr-months .flatpickr-month{height: auto; margin-bottom: 10px;}
    .flatpickr-current-month{
        position: relative;
        display: flex;
        padding: 0;
        height: auto;
        left: 0;
        font-family: var(--font-medium);
    }
    .flatpickr-current-month .flatpickr-monthDropdown-months{padding: 0;}

    .flatpickr-weekdays{height: auto;}
    .flatpickr-rContainer{display: block; width: 300px;}
    .flatpickr-days{width: 100%;}
    .dayContainer{
        width: auto; min-width: auto; max-width: inherit;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
        grid-gap: 5px 8px;
    }
    .flatpickr-day{
        height: 35px;
        min-width: 100%;
        line-height: 35px;
        padding-top: 4px;
        max-width: inherit;
        width: 100%;
        font-weight: normal; font-size: 14px; color: black; font-family: var(--font-medium);
        display: flex; align-items: center; justify-content: center;
    }
    // .flatpickr-day.prevMonthDay{display: none;}
    .flatpickr-day.prevMonthDay,
    .flatpickr-day.nextMonthDay{color: rgba(85, 85, 85, .5); pointer-events: none;}
    .flatpickr-weekday{
        height: 35px;
        text-transform: capitalize;
        font-weight: normal;
        display: flex; align-items: center; justify-content: center; font-size: 14px; color: black; font-family: var(--font-medium);
    }
    .flatpickr-weekdays .flatpickr-weekdaycontainer{gap: 8px;}
    
    .flatpickr-day.selected,
    .flatpickr-day.today:hover,
    .flatpickr-day.today{border: 0; background: var(--primary-color); color: white;}
}
.echo-modal-video{
    video{height: 300px; width: 100%; border: 0; object-fit: cover;}
}
.reveal{
    position: relative;
    overflow: hidden;
    img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}
.top-bg{
    background: url(../images/awards-bg.png) left top no-repeat;
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-size: 100%;
}

.iti{
    display: block;
    width:100%;
    --iti-hover-color: tranparent;
    // --iti-flag-width: 21px;
    // --iti-flag-height: 14px;
    --iti-arrow-padding: 28px;

    .iti__tel-input{ padding-left: 0 !important;
    padding-inline-start: 68px !important;}
    .iti__country-container{
        // left: auto !important; 
        // right: 0;
        inset-inline-start: 15px !important;
        inset-inline-end: auto;
        top: auto;
        bottom: 19px;
    }

    .iti__dropdown-content{
        right: 0; left: auto; z-index: 100 !important;
    }

    .iti__arrow{width: 10px; height: 6px; background: url(../images/dd_arrow.png) center center no-repeat; border: 0;}
    .iti__search-input{padding: 10px; border-radius: 0; border-bottom: solid 1px #EEE; font-size:1rem; outline: none !important;}
    .iti__selected-country-primary{gap: 6px;}
    .iti__arrow{margin: 0;}

    .iti__country:hover{background: #EEE;}
    .iti__country-list .iti__flag, .iti__country-name{
        font-size: 1rem;
    }
    .iti__dial-code{
        font-weight: 700;
        font-size: .9rem;
    }
}
.iti--fullscreen-popup.iti--container{
    z-index: 11111;
}

@media (max-width: 991px) {
    .section-title{font-size: px_rem(30px);}
}
@media (max-width: 767px) {
    .btn{min-height: 46px; padding-top: 6px;}
    .main-content{padding: px_rem(50px) 0;} 
}
.main-content{
    overflow: hidden;
}

.dropzone {
    border-radius: 24px !important;
    min-height:155px !important;
    .dz-message .dz-button{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            margin-bottom:5px;
        }
        h4{
            font-size:1rem;
            color:#000;
            font-family: var(--font-medium);
            margin-bottom:4px;
        }
        p{
            color:#000;
            font-size:1rem;
            margin:0;
            text-align: center;
            font-family: var(--font-thin);
        }
    }
    .dz-started{
        .dz-default.dz-message{
            display:none !important;
        }
    }
    .dz-error-message{
        display:none !important;
    }
    .dz-preview{
         .dz-remove{
            background-image: url("data:image/svg+xml,%3Csvg width='54px' height='54px' viewBox='0 0 54 54' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'%3E%3Ctitle%3Eerror%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Check-+-Oval-2' sketch:type='MSLayerGroup' stroke='%23747474' stroke-opacity='0.198794158' fill='%23FFFFFF' fill-opacity='0.816519475'%3E%3Cpath d='M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z' id='Oval-2' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 54px;
            height: 54px;
            z-index: 99;
            font-size: 0 !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
    }
    &.dz-started {
		.dz-message {
			display: none !important;
		}
		&:after {
			display: none;
		}
	}
}
.dropzone_upload .dz-preview.dz-error .dz-error-mark {
    display: none;
}
.ui-timepicker-list{
     li{
        font-size:1rem;
         &.ui-timepicker-selected, 
         &:hover, 
         &.ui-timepicker-selected:hover{
            background-color: var(--primary-color) !important;
         }
     }
}

.customRadio{
    border: 1px solid #9EACAA80;
    border-radius: 50px;
    height:53px;
    padding:0 1rem;
    display: flex;
    align-items: center;
    gap:14px;
    .form-check-label{
        font-size:1.125rem;
        color:#000;
        cursor: pointer;
        font-family: var(--font-thin);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex:1;
    }
    .form-check-input{
        float:none;
        margin:0;
        box-shadow: none;
        border-radius: 100%;
        &:checked[type=radio] , &:checked[type=checkbox]{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%23CF9C5A'/%3E%3Ccircle cx='10' cy='10' r='5' fill='%23CF9C5A'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            border-color: transparent;
            background-color: transparent;
        }
    }
    &.active{
        border-color:var(--primary-color);
    }
}
.alert{
    padding:8px 12px;
    border-radius: 50px;
    font-size:1.125rem;
    font-family: var(--font-thin);
    border:0;
    box-shadow: none;
    margin-bottom:2rem;
    &.alert-warning{
        color:#CF9C5A;
        background-color: #CF9C5A1A;
    }
}

.steps{
    ul{
        list-style: none;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding:0;
       
        li{
            // width:25%;
            text-align: center;
            background-color: #fff;
            z-index:1;
            position: relative;
            &:not(:last-child){
                padding-inline-end: 1.25rem;
                @media screen and (max-width:767px){
                    padding-inline-end: px_rem(10px);
                }
                 &:before{
                    content:'';
                    position: absolute;
                    width:80px;
                    height:1px;
                    background: #9EACAA80;
                    inset-inline-end: -80px;
                    top:26px;
                }
            }
            span{
                width:28px;
                height:28px;
                margin:auto;
                background: #9EACAA;
                border-radius: 100%;
                color:#fff;
                display:flex;
                align-items: center;
                justify-content: center;
                font-family: var(--font-medium);
                font-size:px_rem(20px);
                border:1px solid transparent;

            }
            p{
                color:#9EACAA;
                font-family: var(--font-medium);
                font-size:px_rem(20px);
                margin-top:12px;
                text-align: center;
                line-height: 1.2;

            }
            &.current{
                span{
                    background-color: #CF9C5A;
                }
                p{
                    color:#CF9C5A;
                }
            }
            &.completed{
                &:before{
                    background:#CF9C5A;
                }
                span{
                    border-color:#CF9C5A;
                    background-color: #fff;
                    color:#CF9C5A;
                }
                p{
                    color:#CF9C5A;
                }
            }
        }
    }
    &__item{
        display:none;
        &.active{
            display:block;
        }
        h3{
            font-size:1.25rem;
            margin-bottom:14px;
            font-family: var(--font-medium);
        }
        .card{
            background: #F5F7F7;
            border-radius: 24px;
            padding:1rem 1.25rem;
            flex-direction: row;
            border:0;
            justify-content: space-between;
            align-items: center;
            gap:1rem;
            margin-bottom:2rem;
            &__left{
                display:flex;
                align-items: center;
                gap:12px;
                .image{
                    img{
                        width:142px;
                        height:100%;
                        min-height:105px;
                        border-radius: 14px;
                        overflow: hidden;
                        object-fit: cover;
                    }
                }
                h4{
                    color:#202125;
                    font-size:1.25rem;
                    font-family: var(--font-medium);
                    margin:8px 0;
                }
                p{
                    font-size:1.125rem;
                    color:#202125;
                    font-family: var(--font-thin);
                    margin:0;
                }
            }
            &__right{
                h5{
                    display:flex;
                    align-items: center;
                    gap:3px;
                    font-size:1.25rem;
                    color:#CF9C5A;
                    font-family: var(--font-medium);
                    margin:0;
                    white-space: nowrap;
                }
            }
        }
        .inline-buttons{
            padding-top:2rem;
            .btn{
                min-width:180px;
            }
        }
    }
    @media screen and (max-width:767px){
        ul{
            li{
                p{
                    font-size:px_rem(16px);
                }
            }
        }
    }
    @media screen and (max-width:576px){
        &__item{
            .card{
                flex-direction: column;
                &__left{
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width:450px){
        &__item{
            .inline-buttons{
                flex-direction: column-reverse;
                gap:px_rem(10px);
                .btn{
                    width:100%;
                }
            }
        }
    }
}
.no-scroll{
    overflow: hidden;
}
@media screen and (max-width:1200px){
    .overflowHidden{
        overflow:hidden !important;
    }
}