// global styles
@import "generic";

// Page-specific
@import "pages/home";
@import "pages/about";
@import "pages/whatson";
@import "pages/duha-gathering";
@import "pages/terms";
@import "pages/theatre";
@import "pages/finearts";
@import "pages/booking-confirmation";
@import "pages/contact";
@import "pages/profile";
@import "pages/visitor-map";
@import "pages/error-page";
@import "pages/booking-details";
@import "pages/nature-page";
@import "pages/courtyard";
@import "pages/rentals";

.education-page{
    .content_row_holder{display: grid; grid-gap: 80px;}
}

.tickets{
    .title-1{margin-bottom: px_rem(28px);}
    .tickets-holder{
        --gap: 32px; display: flex; flex-wrap: wrap; gap: var(--gap); justify-content: center;
        
        .ticket-card{width: calc(50% - (var(--gap) / 2));}
    }
}

input{
    border:1px solid transparent !important;
    box-shadow: none !important;
    &:focus{
        border-color:#cf9c5a !important;
    }
}


@media (max-width: 540px) {
    html{font-size: 14px;}
}