// global styles
@import "generic";

// Page-specific
@import "pages/home";
@import "pages/about";
@import "pages/whatson";
@import "pages/duha-gathering";
@import "pages/terms";
@import "pages/theatre";
@import "pages/finearts";
@import "pages/booking-confirmation";
@import "pages/contact";
@import "pages/profile";
@import "pages/visitor-map";
@import "pages/error-page";
@import "pages/booking-details";
@import "pages/nature-page";
@import "pages/courtyard";
@import "pages/rentals";


.tickets{
    .title-1{margin-bottom: px_rem(28px);}
}

.tickets-holder{
    --gap: 32px; display: flex; flex-wrap: wrap; gap: var(--gap); justify-content: center;
    
    .ticket-card{width: calc(50% - (var(--gap) / 2));}
}
@media (max-width: 1199px) {
    .tickets-holder .ticket-card{width: 100%;}
}
@media screen and (max-width:1024px){
    #custom-cursor{
        display:none !important;
    }
}
@media (max-width: 991px) {
    html{font-size: px_rem(14px);}
}
