// global styles
@import "generic";

// Page-specific
@import "pages/about";
@import "pages/whatson";
@import "pages/duha-gathering";
@import "pages/terms";
@import "pages/theatre";
@import "pages/finearts";
@import "pages/booking-confirmation";