.site-footer{
    position: relative;
    z-index:1;
    background: #202125; color: white;

    .grid{display: flex; align-items: flex-start; padding: 64px 0 30px; flex-wrap: wrap; justify-content: space-between;}

    h4{font-weight: 500; font-family: var(--font-medium); margin-bottom: 12px; font-size: px_rem(20px); line-height: px_rem(20px);}
    
    .quick-links{font-size: 18px; line-height: 1; max-width: 276px; width: 100%;
    
        ul{
            list-style: none;
            padding:0;
            margin:0;
            li{
                line-height: 1.4;
                &:not(:last-child){
                    margin-bottom:8px;
                }
                a{
                    display: block; text-decoration: none;
                }
            }
        }
    }
    .quick-links a:not(:hover) {color: white;}
    .quick-links p{margin: 0;}

    .social-icons .icon-rounded{
        background: linear-gradient(to bottom, rgba(white, 0.4), rgba(white, 0.2)); 
        color: white; cursor: pointer;
        transition: .5s ease all;
        &:hover{
            background-color: #cf9c5a;
        }
    }
    .social-icons .icon-rounded:hover{background: var(--primary-color);}

    .app-buttons-holder{display: grid; gap: 8px;}
    .app-button{
        display: block;
        transition: .5s ease all;
        &:hover{
            transform: translateY(-4px);
        }
    }
    .app-button img{display: block;}

    .logo-holder img{max-height: 100px; animation: fadeOutIn 4s infinite forwards 0.2s;}

    .copyright{border-top: solid 1px rgba(128, 128, 128, 0.4); font-family: var(--font-thin); font-size: 18px; text-align: center; padding: 1rem 0;}
}
.modal{
    --bs-modal-padding: 30px;

    .modal-content{border-radius: px_rem(10px);}
}
.signin-modal{
    --bs-modal-width: 880px;

    .modal-body{display: flex; gap: 40px;}
    .content{flex-grow: 1; display: flex; flex-direction: column; justify-content: center;}
    .image{width: 354px; border-radius: 14px; overflow: hidden; background: #CCC;}
    .image img{width: 100%; height: 100%; object-fit: cover;}

    .forgot-link{display: block; font-family: var(--font-thin); text-align: right; font-size: px_rem(18px); line-height: px_rem(27px);}
    .dont-have-account{text-align: center; font-family: var(--font-thin); font-size: px_rem(18px); line-height: px_rem(27px);}
}
.forgot-password-modal{
    --bs-modal-padding: 46px 56px;
    --bs-modal-width: 528px;
}
.change-password-modal{
    --bs-modal-width: 530px;
    --bs-modal-padding: 58px 48px;

    .title{font-size: 24px; font-family: var(--font-medium); line-height: 1; margin-bottom: 20px;}
}