.site-footer{

    background: rgba(32, 33, 37, 1); color: white;

    .grid{display: flex; align-items: flex-start; padding: 64px 0 30px; flex-wrap: wrap; justify-content: space-between;}

    h4{font-weight: 500; margin-bottom: 0.75rem; font-size: px_rem(20px); line-height: px_rem(20px);}
    
    .quick-links{font-size: 18px; line-height: 1; max-width: 276px; width: 100%;}
    .quick-links a{display: block; color: white; text-decoration: none; margin-bottom: 0.5rem;}
    .quick-links p{margin: 0;}

    .social-icons .icon-rounded{background: black; color: white; cursor: pointer;}

    .app-buttons-holder{display: grid; gap: 0.5rem;}
    .app-button{display: block;}
    .app-button img{display: block;}

    .copyright{border-top: solid 1px rgba(128, 128, 128, 0.4); font-size: 18px; text-align: center; padding: 1rem 0;}
}