.site-header{
    position: absolute; 
    width:100%; top: 0; left: 0; right: 0; z-index: 11; background: url(/images/header_pattern.png) center center no-repeat;
    padding:32px 0;
    transition: .6s ease all;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0) 100%);
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    &:after{
        position:absolute;
        content: ""; width: 100%; height: 100%; top: 0; left: 0;
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        z-index: 1;
        opacity: 0.5;
        pointer-events: none;
    }

    .search-field{
        margin-right: 1rem; width: 400px; opacity: 0; transition: opacity 0.5s ease;

        .form-control{height: 56px; padding-left: 74px; font-family: var(--font-light);}
        .icon{left: 38px;}
        .cross-icon{position: absolute; top: 50%; transform: translateY(-50%); inset-inline-end: 68px; cursor: pointer;}
        .send-icon{position: absolute; top: 50%; transform: translateY(-50%); inset-inline-end: 30px; cursor: pointer;}
    
        input:not(:placeholder-shown) + .cross-icon {
            display: block;
        }
    }

    .search-opened & {
        .search-field{opacity: 1;}
    }

    .container{display: flex; position: relative; z-index: 2; align-items: center; justify-content: space-between;}

    .logo{display: block; flex-shrink: 0;}
    .logo img{max-height: 101px; animation: fadeOutIn 4s infinite forwards 0.2s; transition:  .5s ease all;}
    .lang-link{color: inherit; text-decoration: none;}

    .devider{width: 2px; height: 10px; display: block; background: white;}

    .right{color: white; font-size: px_rem(18px);}
    .right .btn{min-height: 50px; --bs-btn-padding-x: 1.5rem; padding-top: 9px;}
    .list{gap: px_rem(40px);}
    .nav-icon span{padding-top: 4px;}
    .menu-list{gap: px_rem(14px);
        a , svg , .h-list{
            transition: .5s ease all;
            &:hover{
                color: #CF9C5A;

            }
        }
    }
    .sign-list{gap: px_rem(30px);transition: .5s ease all;
        &:hover{
                color: #CF9C5A;

            }
    }
    .sign-list span{padding-top: 4px;}

    .signin-link{cursor: pointer; white-space: nowrap; font-family: var(--font-medium);}
    &.is-sticky{
        position: fixed;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        padding: 8px 0;
        backdrop-filter: blur(10px);
        animation: slideDown 0.6s ease-out;
        background-color: #00000070;
          .logo {
            img{
                max-height:70px;
            }
          }
    }

    @media (max-width: 720px) {
        .logo img{max-height: 60px;}
        .list{gap: 1.5rem;}
        .search-field{display: none; margin: 0;}
    }
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}