.museum-item{
    background: rgba(245, 245, 245, 1); padding: 20px 30px 0;
    border-radius: 22px; position: relative;

    &:after{
        content: ""; width: 1px; position: absolute;
        top: 22px; bottom: 70px; left: 0; background: rgba(188, 173, 54, 1);
    }

    &.earth{
        &:after{background: rgba(86, 152, 66, 1);}
    }
    &.teck{
        &:after{background: rgba(21, 53, 126, 1);}
    }
    &.human{
        &:after{background: rgba(204, 38, 38, 1);}
    }

    .image{height: 180px; display: block; overflow: hidden; background: #CCC; border-radius: 12px; margin: 0;}
    .image img{width: 100%; height: 100%; object-fit: cover;}
    .content{padding-top: px_rem(18px); position: relative; z-index: 2;}
    .content .info{display: grid; grid-gap: 0.5rem;}
    .content .museum_item__title{font-size: px_rem(22px); color: black; line-height: 140%; margin: 0; font-family: var(--font-medium); text-transform: capitalize;}
    .content .museum_item__title:hover{color: var(--primary-color);}
    .content time{display: block; font-family: var(--font-medium); color: rgba(55, 55, 55, 1); font-size: 1rem; line-height: 124%;}
    .content p{
        margin: 0; font-size: 1rem; line-height: 140%; font-family: var(--font-light);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .booking-information{padding: px_rem(22px) 0; height: 69px; justify-content: flex-end; display: flex; align-items: center; gap: 1rem;}
    .booking-information .item{display: flex; gap: 0.5rem; font-family: var(--font-medium); font-size: 1rem; line-height: 1; text-decoration: none; color: rgba(0, 0, 0, 1); align-items: center;}
    .booking-information .item:hover{color: var(--primary-color);}
}