.page-title-banner{
    min-height: 380px; background: black; position: relative;

    &:after{
        content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(0, 0, 0, 1); opacity: 0.70; z-index: 1; pointer-events: none;
    }

    .image{position: absolute; width: 100%; height: 100%; z-index: 1; top: 0; right: 0; bottom: 0; left: 0; object-fit: cover;}

    h1{
        color: white; text-transform: uppercase; margin: 0; font-size: px_rem(44px); line-height: 1;
        font-family: var(--font-light);
    }
    
    .content{padding: 250px 0 84px; position: relative; z-index: 2;}
}