.about{
    &:before{
         background: url(../images/awards-bg.png) left top no-repeat;
         content:'';
         position: absolute;
         width:100%;
         height:100%;
         left:0;
         top:0;
         z-index:-1;
         background-size: 100%;
    }
    .view1{
        display: flex; align-items: center; justify-content: space-between; gap: 100px;

        .text{max-width: 640px; width: 100%;}
        .text h2{margin-bottom: px_rem(18px);}
        .text p{margin-bottom: px_rem(22px);}
        .image{margin: 0; flex-shrink: 0; overflow: hidden; background: #EEE; height: 436px; border-radius: 24px; max-width: 650px; width: 100%;}
        .image img{width: 100%; height: 100%; object-fit: cover; border-radius: 24px; overflow: hidden;    mix-blend-mode: luminosity;}
    }

    .view2{
        .image-text{display: grid; margin-bottom: 166px; grid-template-columns: auto 1fr; align-items: center;}
        .image-text .slider{
            width: 690px;
            height: 598px;
            position: relative;
        }
        .image-text .slider .swiper-wrapper{
            width: 100%; 
            height: 100%;
        }
        .image-text .slider .swiper-slide{
            width: 100%;
            height: 100%;
        }
        .image-text .slider .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .image-text .text{padding-inline-start: px_rem(116px);}
        .image-text p{margin-bottom: px_rem(22px);}

        .leading-with-innovation{margin-bottom: 166px; position: relative;}
        .leading-with-innovation .grid{display: grid; position: relative; grid-template-columns: repeat(2, 1fr); grid-gap: 152px;}
        @media (min-width: 768px) {
            .leading-with-innovation .grid:after{content: ""; position: absolute; width: 1px; height: 100%; background: rgba(217, 217, 214, 1); top: 0; left: 50%;}
        }
        .leading-with-innovation .item{
            position: relative; border-radius: 10px; cursor: pointer; overflow: hidden; padding-inline-start: 88px; height: 570px; display: flex; align-items: center;
            
            .image{position: absolute; top: 0; z-index: 0; left: 0; width: 0; transition: all 0.7s ease; height: 100%;}
            .image:after{content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(black, 0.7);}
            .image img{width: 100%; height: 100%; object-fit: cover;}
            .inner .section-title{margin-bottom: 30px; transition: all 0.7s ease;}
            .inner{max-width: 494px; transition: all 0.7s ease; transform: translateY(100px); position: relative; z-index: 12;}
            .inner p{transition: all 0.7s ease; opacity: 0;}
            .inner > *:last-child{margin-bottom: 0;}
            
            &:hover{
                .inner{transform: translateY(0);}
                .inner .section-title{color: white;}
                .inner p{color: white; opacity: 1;}
                .image{width: 100%;}
            }
        }

        .awards{position: relative;
            padding:60px 0;
            &:before{
                content:'';
                position: absolute;
                width:100%;
                height:100%;
                background: url(../images/awards-bg.png) left top no-repeat;
                background-size: cover;
                z-index:-1;
                left:0;
                top:0;
            }
        }
        .awards .grid{display: grid; grid-template-columns: 1fr auto 1fr auto 1fr; position: relative;}
        .awards .devider{margin: 0 60px; width: 1px; background: rgba(217, 217, 214, 1);}
        .awards .item{
            position: relative; border-radius: 10px; cursor: pointer; overflow: hidden; height: 450px; display: flex; align-items: center;
            
            .image{position: absolute; top: 0; z-index: 0; left: 0; width: 0; transition: all 0.7s ease; height: 100%;}
            .image:after{content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(black, 0.7);}
            .image img{width: 100%; height: 100%; object-fit: cover;}
            .inner .section-title{margin-bottom: 20px; font-family: var(--font-medium); font-size: 20px; line-height: 1; transition: all 0.7s ease;}
            .inner{padding: 0 30px; transition: all 0.7s ease; transform: translateY(100px); position: relative; z-index: 12;}
            .inner p{transition: all 0.7s ease; opacity: 0; transform: translateY(50px);}
            .inner > *:last-child{margin-bottom: 0;}
            
            &:hover{
                .inner{transform: translateY(0);}
                .inner .section-title{color: white;}
                .inner p{color: white; opacity: 1; transform: translateY(0);}
                .image{width: 100%;}
            }
        }
    }
    
    .view3{
        .block1{
            background: rgba(245, 245, 245, 1); border-radius: 10px; padding: 45px;

            .inner{display: flex; background: white; border-radius: 8px; overflow: hidden;}
            .image{width: 45%; background: #CCC;}
            .image img{width: 100%; height: 100%; object-fit: cover;}
            
            
            .content{flex-grow: 1; display: flex; justify-content: center; flex-direction: column; align-items: center; padding: 38px;}
            .content .list{margin: 0; width: 100%; padding: 0; display: grid;}
            .content .list li{list-style-type: none; min-height: 94px; display: flex; flex-direction: column; text-align: center; padding: 1rem 0; border-top: solid 1px rgba(0, 0, 0, 0.1);}
            .content .list li:first-child{border-top: 0;}
            .content .list li.title{font-family: var(--font-medium); flex-direction: row; justify-content: center; align-items: center; gap: 7px; font-size: px_rem(18px); line-height: px_rem(20px);}
            .content .list li.title span{display: block; padding-top: 4px; line-height: 1;}
            .content .list li.title:before{
                content: "";
                @extend .icon-rounded;
                --size: 10px;
                background: rgba(72, 130, 126, 1);
            }

            .slot{display: flex; justify-content: center; gap: 18px; align-items: center; font-size: px_rem(20px); line-height: 1; font-family: var(--font-medium);}
            .day{font-size: px_rem(18px); display: block; padding-top: px_rem(12px);}
        }
        .block2{
            margin-bottom: 130px;
            
            .note{font-size: 1rem; padding: 30px 0 80px;}
            // .tickets-holder{display: flex; flex-wrap: wrap; gap: 32px; justify-content: center;}
            .tickets-holder{
                --gap: 32px; display: flex; flex-wrap: wrap; gap: var(--gap); justify-content: center;
                
                .ticket-card{width: calc(50% - (var(--gap) / 2));}
            }
        }
        .block3{
            .tabs-list{margin-bottom: 3rem; gap: 20px; justify-content: flex-start;}
        }
        .get-access{
            display: flex; position: relative; flex-wrap: wrap; justify-content: space-between;
        
            &:after{content: ""; position: absolute; top: 0; left: 50%; background: rgba(217, 217, 214, 1); width: 1px; height: 100%;}

            .content{display: flex; max-width: 675px; width: 100%; flex-direction: column; justify-content: center;}
            .content ul{margin: 0; padding: 0;}
            .content ul li{padding-left: 30px; font-size: px_rem(20px); line-height: px_rem(26px); font-family: var(--var(--font-thin)); list-style-type: none; position: relative;}
            .content ul li:after{
                content: "";
                --size: 5px;
                background: black;
                position: absolute;
                left: 12px;
                top: 7px;
                width: var(--size);
                height: var(--size);
                border-radius: var(--size);
            }
            .content > *:last-child{margin-bottom: 0;}

            .image{width: 675px; min-height: 570px; overflow: hidden; flex-shrink: 0; background: #CCC; border-radius: 8px;}
            .image img{width: 100%; height: 100%; object-fit: cover;}

            .list{display: grid; grid-gap: 2rem;}
            .list .item{display: grid; gap: 22px; align-items: center; grid-template-columns: auto 1fr;}
            .list .item .icon-rounded{background: rgba(245, 245, 245, 1); --size: 78px;}
            .list .item h4{margin: 0; font-family: var(--font-medium); font-size: 20px; line-height: 1;}
            .list .item h4:before{content: attr(data-gate); line-height: px_rem(22px); font-family: var(--font-light); display: block; padding-bottom: 0.25rem;}
        
            &.map .read-more{min-width: 200px;}
        }
    }
    .content_row_holder{
        >div{
            &:not(:last-child){
                margin-bottom:70px;
            }
        }
    }
}