.booking-confirmation{
    .message{display: grid; margin-bottom: px_rem(40px); grid-gap: px_rem(18px); text-align: center;}
    .message h2{font-size: 44px; text-transform: uppercase; line-height: 1; margin: 0;}
    .message span{font-size: 20px; margin-top: -4px; line-height: 1; font-family: var(--font-medium);}
    .message span em{font-style: normal;}

    .info{display: grid; margin-bottom: px_rem(45px); grid-template-columns: repeat(5, 1fr);}
    .info .item{border-right: solid 1px rgba(0, 0, 0, 0.24); font-family: var(--font-thin); padding: 0 80px;}
    .info .item h5{font-size: px_rem(20px); font-family: var(--font-medium); line-height: 1; margin-bottom: 0.5rem;}
    .info .item:first-child{padding-left: 0;}
    .info .item:last-child{padding-right: 0; border-right: 0;}

    .knet-seeklogo{display: flex; align-items: center; gap: 1rem; font-family: var(--font-medium); font-size: px_rem(27px); line-height: 1; margin-bottom: px_rem(36px);}

    .table{font-family: var(--font-medium); margin-bottom: 60px;}
    .table td{padding-top: 0; padding-bottom: px_rem(30px); border-bottom: 0; font-size: 18px; color: rgba(131, 131, 131, 1);}
    .table td:first-child{text-transform: uppercase; width: 62%; padding-left: 0; color: black; font-size: 1rem}
    .table tr:last-child td{padding-bottom: 0;}


    .order-details{display: grid; padding-inline-end: 40px; grid-gap: 30px; margin-bottom: 30px;}
    .order-details h3{font-size: 27px; margin-bottom: 10px; font-family: var(--font-medium);}
    .order-details .item{display: flex; font-family: var(--font-medium); justify-content: space-between; align-items: center; font-size: 1rem; line-height: px_rem(20px);}
    .order-details .item span:last-child{text-align: right;}
    .order-details .item .pro-info{margin: 0; padding: 0; list-style-type: none; font-family: var(--font-light); color: rgba(131, 131, 131, 1);}
    .order-details .item .pro-info strong{display: block; padding-inline-start: 14px;}
    .order-details .item.total{font-size: 20px;}

    .go-back-button{max-width: 365px; width: 100%; display: flex; margin: auto;}

    
}