.booking-confirmation{
    .message{display: grid; margin-bottom: px_rem(40px); grid-gap: px_rem(18px); text-align: center;}
    .message h2{font-size: 44px; text-transform: uppercase; line-height: 1; margin: 0;}
    .message span{font-size: 20px; line-height: 1;}
    .message span em{color: rgba(39, 138, 113, 1); font-style: normal;}

    .info{display: grid; margin-bottom: px_rem(30px); grid-template-columns: repeat(5, 1fr);}
    .info .item{border-right: solid 1px rgba(0, 0, 0, 0.24); padding: 0 80px;}
    .info .item h5{font-size: px_rem(20px); line-height: 1; margin-bottom: 0.5rem;}
    .info .item:first-child{padding-left: 0;}
    .info .item:last-child{padding-right: 0; border-right: 0;}

    .go-back-button{max-width: 365px; width: 100%; display: flex; margin: auto;}
}