.booking-details-page{
    .main-content{padding: 0;}
}
.booking-details{
    .columns{display: grid; grid-template-columns: auto 1fr auto;}

    .left{padding: 60px 90px 70px 0; position: relative; width: 462px;}
    .left:after{
        content: ""; position: absolute; top: 0; right: 0; width: 200%; height: 100%; background: url(/images/column-background.png) top right no-repeat;
        background-size: cover; pointer-events: none; z-index: -1;
    }
    .middle{padding: 70px 50px 70px 66px;}
    .right{padding: 70px 0; width: 364px;}

    .title{color: var(--primary-color); font-family: var(--font-medium); text-transform: uppercase; font-size: 20px; line-height: 1; margin-bottom: 10px;}
    
    .important-notes{margin-top: 60px;}
    .important-notes ul{margin: 0; padding: 0; display: grid; grid-gap: 8px;}
    .important-notes ul li{position: relative; padding-left: 30px; list-style-type: none; font-size: 18px; line-height: 22px; font-family: var(--font-thin);}
    .important-notes ul li:after{
        content: "";
        --size: 5px; background: black; position: absolute; left: 12px; top: 7px;
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
    }

    .rules{
        display: grid; padding-top: px_rem(154px); grid-gap: 23px 6px; grid-template-columns: repeat(2, 1fr);
        
        .item{color: rgba(85, 85, 85, 1); position: relative; cursor: pointer; font-family: var(--font-medium); font-size: px_rem(20px); line-height: 1;}
        .item .trigger{display: grid; max-width: fit-content; grid-template-columns: auto 1fr; grid-gap: 14px;}
        .item span{padding-top: 3px; position: relative;}
        .item span:after{
            content: ""; width: 34px; height: 24px; background: url(/images/dd_tip.png) center center no-repeat;
            position: absolute; top: calc(100% + 8px); left: 50%; transform: translateX(-50%) rotate(180deg); z-index: 2;
            display: none;
        }
    }
    .rules-dropdown-menu{
        min-height: 203px; align-items: center; padding: 1rem px_rem(36px); border-radius: 4px; border: solid 1.4px var(--primary-color);
        grid-gap: 1.5rem; z-index: 2;

        .data{display: grid; line-height: px_rem(22px); width: 338px; color: rgba(32, 33, 37, 1); grid-template-columns: auto 1fr; grid-gap: 30px; align-items: center;}
        .data > *:last-child{margin-bottom: 0;}

        .timing{display: block; margin: 0; padding: 0; list-style-type: none;}
        .timing li{color: var(--primary-color); font-family: var(--font-thin); font-size: px_rem(20px); line-height: px_rem(28px);}
        .timing li span{display: block; color: black;}

        .dresses{display: flex; gap: 7px;}
        .dresses .ele{display: flex; width: 103px; flex-direction: column;}
        .dresses .image{background: rgba(207, 156, 90, 0.1); display: flex; align-items: center; justify-content: center; height: 116px; border-radius: 8px; border: solid 0.61px rgba(207, 156, 90, 1);}
        .dresses .lbl{display: block; flex-grow: 1; text-align: center; padding-top: 10px; font-size: 14px; line-height: 18px; color: rgba(32, 33, 37, 1); font-weight: normal; font-family: var(--font-light);}

        &.show[data-popper-placement="bottom-start"] + .trigger span:after{display: block;}
        &.show[data-popper-placement="top-start"] + .trigger span:after{
            display: block; top: auto; bottom: calc(100% + 8px);
            transform: translateX(-50%) rotate(0deg);
        }

        &.show{display: flex;}
    }

    .tdata{font-family: var(--font-thin); display: table; margin-bottom: 20px;}
    .tdata .trow{display: table-row;}
    .tdata .tcell{display: table-cell; font-size: 18px; padding-bottom: 10px;}
    .tdata .tcell:first-child{padding-right: 44px;}
    .tdata .tcell:last-child{white-space: nowrap; text-align: right;}
    .tdata .trow:last-child .tcell{padding-bottom: 0;}
    .tdata .trow.total .tcell{font-size: 20px; font-family: var(--font-medium);}

    .payment-method{display: grid; grid-gap: 26px; margin-bottom: 24px;}
    .payment-method .item{display: flex; cursor: pointer; position: relative; color: rgba(74, 74, 74, 1); font-size: 1rem; line-height: 126%; align-items: center; gap: 20px;}
    .payment-method .item input{position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; opacity: 0;}

    .payment-method .item span{padding-top: 2px;}
    .payment-method .item .icon-rounded{--size: 20px; pointer-events: none; border: solid 1px var(--primary-color); background: white;}
    .payment-method .item .icon-rounded:after{
        content: ""; --size: 14px; width: var(--size); height: var(--size); border-radius: var(--size);
        background: var(--primary-color); opacity: 0;
    }
    .payment-method .item input:checked + .icon-rounded:after{opacity: 1;}
    
    .middle .title{color: black; margin-bottom: 14px;}

    .your-information{margin: 32px 0;}
    .your-information .grid{display: grid; grid-gap: 14px; grid-template-columns: repeat(2, 1fr);}

    .select-ticket-type{margin: 32px 0;}
    .select-ticket-type .grid{display: grid; grid-gap: 16px; grid-template-columns: repeat(2, 1fr);}

    .ticket-type{min-height: 72px; padding: 10px 24px; display: grid; grid-template-columns: auto 1fr auto; align-items: center; gap: 14px; background: #F5F7F7; border-radius: 50px;}
    .ticket-type .icon{flex-shrink: 0;}
    .ticket-type .name{font-size: 14px; padding-top: 2px; line-height: 22px; font-family: var(--font-light);}
    .ticket-type .name strong{display: block; font-family: var(--font-medium); font-size: 16px;}

    .qty{display: flex; gap: 12px; font-size: 18px; align-items: center;}
    .qty .num{font-size: 16px; font-family: var(--font-thin);}
    .qty .click-element{cursor: pointer; font-family: var(--font-medium);}

    .country-selector{display: flex; align-items: center; cursor: pointer; gap: 6px; position: absolute; bottom: 18px; inset-inline-end: 24px;}
    .phone-field .dropdown-menu .dropdown-item{cursor: pointer; display: flex; align-items: center; gap: 8px;}

    .full{grid-column: 1 / -1;}

    .checkfiels{display: grid; grid-gap: 4px;}
}