.courtyard-page{
    .block1{
        margin-bottom: px_rem(90px);

        .swiper-slide{width: 370px;}
        .image{height: 320px; background: #EEE; border-radius: 20px; overflow: hidden;}
        .image img{width: 100%; height: 100%; object-fit: cover;}    
    }

    .block2{
        margin-bottom: px_rem(64px);

        .grid{display: grid; margin-top: px_rem(55px); grid-template-columns: repeat(3, 1fr); grid-gap: 40px;}
    }

    .block3{
        .grid{margin-top: 3rem; display: grid; gap: 40px;}

        .sculptures-card{
            .image{
                &:after{
                    content:"";
                    position: absolute;
                    background: #09122221;
                    // backdrop-filter: blur(52.79999923706055px);
                    width:100%;
                    height:100%;
                    left:0;
                    top:0;
                    box-shadow: inset 0 0 51px #fff, inset 0 0 25px #fff, inset 0 0 50px #fff;
                }
            }
            &:nth-child(even){
                .image{order: -1;}
            }
        }
    }
}
