.duha-gathering{
    .title-holder{
        margin-bottom: 30px;
        display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;
    }

    .title-1:before{content: attr(date); padding-bottom: 1rem; display: block; color: var(--primary-color); font-size: px_rem(20px); line-height: 1;}

    .image{max-width: 100%; margin: 3rem auto;}
}