.error-page{
    .main-content{padding-top: 200px;}
    .site-header{
        position: relative;
        background: url(/images/header_pattern2.png) center center repeat-x;
    }
    .site-header .right{color: black;}
    .site-header .devider{background: black;}
    .site-header .list{gap: 20px;}
    .site-header .sign-list{gap: 20px;}
    .site-header .signin-link span{display: none;}
}