.error-page{
    .main-content{
        padding-top: 200px; text-align: center;
    }
    .section-title{margin-bottom: px_rem(22px);}
    @media (min-width: 767px) {
        .section-title{font-size: 67px; line-height: 1;}
    }
    .site-header{
        position: relative;
        background: url(/images/header_pattern2.png) center center repeat-x;
    }
    .site-header .right{color: black;}
    .site-header .devider{background: black;}
    .site-header .list{gap: 20px;}
    .site-header .sign-list{gap: 20px;}
    .site-header .signin-link span{display: none;}

    @media (max-width: 767px) {
        h1{font-size: 40px;}

        .main-content{padding-top: 70px;}
    }
}