.finearts{

    .faqs{margin-bottom: px_rem(60px);}

    .contact-info{
        .title{font-size: px_rem(20px); font-family: var(--font-medium); line-height: 1; margin-bottom: px_rem(28px);}
        .title a{text-decoration: none;}
        .grid{
            display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px;
        }
        .item{display: flex; align-items: center; gap: 1rem; font-weight: 200;}
        .item h5{font-size: px_rem(20px); font-family: var(--font-medium); margin-bottom: 0.25rem; line-height: 1; font-weight: 500;}
        .item .icon{flex-shrink: 0;}        
    }
    .selection-process{position: relative; margin-bottom: 30px;}
    .selection-process .grid{display: grid; grid-template-columns: 1fr auto 1fr auto 1fr; position: relative;}
    .selection-process .devider{margin: 0 60px; width: 1px; background: rgba(217, 217, 214, 1);}
    .selection-process .item{
        position: relative; border-radius: 10px; cursor: pointer; overflow: hidden; height: 450px; display: flex; align-items: center;
        
        .image{position: absolute; top: 0; z-index: 0; left: 0; width: 0; transition: all 0.7s ease; height: 100%;}
        .image:after{content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(black, 0.7);}
        .image img{width: 100%; height: 100%; object-fit: cover;}
        .inner .section-title{margin-bottom: 20px; font-family: var(--font-medium); font-size: 20px; line-height: 1; transition: all 0.7s ease;}
        .inner{padding: 0 30px; transition: all 0.7s ease; transform: translateY(100px); position: relative; z-index: 12;}
        .inner p{transition: all 0.7s ease; opacity: 0;}
        .inner > *:last-child{margin-bottom: 0;}
        
        &:hover{
            .inner{transform: translateY(0);}
            .inner .section-title{color: white;}
            .inner p{color: white; opacity: 1;}
            .image{width: 100%;}
        }
    }
}