.home-page{
    .enter-the-center{
        position: relative;

        &:after{content: ""; background: rgba(black, 0.64); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;}
    
        .title{color: white; margin: 0; text-align: center; font-family: var(--font-light); z-index: 11; font-size: px_rem(36px); line-height: 44px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
        .title .ar{display: block; font-family: var(--font-thin); margin-bottom: 0.5rem; font-size: 54px;}
        .title .en{display: block;}

        .background-video{width: 100%; height: 100vh; display: block; object-fit: cover; z-index: 0;}
        .center-button{position: absolute; left: 50%; transform: translateX(-50%); bottom: px_rem(96px); z-index: 1;}
    }
    .camera-view{
        height: 100vh;
    
        img{width: 100%; height: 100%; object-fit: cover;}
    }

    .home-block1{
        padding: 24px 0 20px;

        .grid{display: grid; position: relative; grid-template-columns: repeat(2, 1fr); grid-gap: 152px;}
        @media (min-width: 768px) {
            .grid:after{content: ""; position: absolute; width: 1px; height: 100%; background: rgba(217, 217, 214, 1); top: 0; left: 50%;}
        }
        .item{
            position: relative; border-radius: 10px; cursor: pointer; overflow: hidden; padding-inline-start: 88px; height: 686px; display: flex; align-items: center;
            
            .image{position: absolute; top: 0; z-index: 0; left: 0; width: 0; transition: all 0.7s ease; height: 100%;}
            .image:after{content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(black, 0.7);}
            .image img{width: 100%; height: 100%; object-fit: cover;}
            .inner{max-width: 494px; transition: all 0.7s ease; transform: translateY(50px); position: relative; z-index: 12;}
            .inner .title-holder{display: flex; color: black; align-items: center; transition: all 0.7s ease; justify-content: space-between; margin-bottom: 1.5rem;}
            .inner p{transition: all 0.7s ease; opacity: 0; transform: translateY(50px);}
            .inner > *:last-child{margin-bottom: 0;}
            
            &:hover{
                .inner{transform: translateY(0);}
                .inner .title-holder{color: white;}
                .inner p{color: white; opacity: 1; transform: translateY(0);}
                .image{width: 100%;}
            }
        }
    }

    .plan-visit{
        min-height: 414px; padding: 80px 0 50px;
        position: relative;
        background: url(/images/plan-visit.jpg) center center no-repeat; background-size: cover;

        &:after{content: ""; pointer-events: none; z-index: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(black, 0.60);}
    
        .title-area{margin-bottom: px_rem(40px); display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 1; color: white;}
        .arrows{gap: 20px;}
        .arrows .arrow{cursor: pointer;}
        .arrows .arrow:hover{color: var(--primary-color);}

        .swiper{position: relative; z-index: 11;}
        .item{color: white;}
        .item .btn{font-family: var(--font-medium); padding-top: 9px; text-transform: uppercase;}
        .item p{margin: 0.75rem 0 1rem; max-width: 344px;}

        .read-more{color: white; font-size: px_rem(18px); font-family: var(--font-light); text-decoration: none;}
    }

    .gallery{
        padding: 80px 0 54px;

        .title-area{display: flex; margin-bottom: 34px; gap: 20px; flex-wrap: wrap; align-items: center; justify-content: space-between;}
    
    
        .swiper-slide{width: 354px;}

        .image-item{height: 490px; background: #EEE; position: relative;}
        .image-item:after{content: ""; background: rgba(black, 0.50); position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0;}
        .image-item img{width: 100%; height: 100%; object-fit: cover;}

        .arrows{justify-content: center; padding-top: 3rem; gap: 20px; position: relative; z-index: 11;}
        .arrows .arrow{color: rgba(169, 169, 169, 1); cursor: pointer;}
        .arrows .arrow:hover{color: var(--primary-color);}
    }
}