.nature-page{
    .main-content{padding: 0;}
    
    .video-area{padding: 80px 0 128px; position: relative;}
    .video-area:after{content: ""; pointer-events: none; background: rgba(#48827E, 0.2); z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
    .video-area .background-video{position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
    .video-area .container{position: relative; z-index: 2;}

    .other-museums{padding: 66px 0 94px;}

    .image-content{
        .section-title{margin-bottom: 3rem; text-align: center; color: white;}

        .grid{display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 34px;}

        .image{border-radius: 18px; overflow: hidden; height: 540px; background: #CCC;}
        .content{
            padding: 50px; display: flex; align-items: center; border-radius: 15px;
            backdrop-filter: blur(15.3px);
            box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.01);
        }
        .content .inner{color: white;}
        .content .inner > *:last-child{margin-bottom: 0;}
    }

    .explore-spacestation{
        .section-title{text-align: center; color: white; margin-bottom: 3rem;}
        .section-title[data-tagline]:after{content: attr(data-tagline); text-transform: capitalize; font-size: 20px; line-height: 1; display: block; font-family: var(--font-thin); padding-top: 1rem;}

        .grid{display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 36px;}
        .grid .item{border-radius: 10px; height: 316px; overflow: hidden;}
        .grid .item img{width: 100%; height: 100%; object-fit: cover;}
    }

    .page-title-banner .page-banner-desc{padding-left: 1rem;}
    .page-title-banner .page-banner-desc:after{content: ""; width: 2px; height: 38px; position: absolute; top: 0; left: 0; background: rgba(86, 152, 66, 1);}

    .sections-grid{
        display: grid; grid-gap: 120px; position: relative; z-index: 11;
    }
    .masked-image {
        width: 100%;
        height: 100%;
        display: block;
        clip-path: url(#museum-clip);
        transition: transform 0.3s ease;
    }
    .trans-block1{
        display: flex; align-items: center; gap: px_rem(60px);

        .image{width: 920px; flex-shrink: 0;}
    
        .info{color: white;}
        .info .section-title{margin-bottom: 2rem;}
        .info p{margin-bottom: 1.5rem;}
    }
    .trans-block2{
        overflow: hidden;

        .section-title{position: relative; z-index: 11; color: white; text-align: center;}

        .swiper{width: 100%; padding: 3rem 0;}
        .swiper-slide {
            width: 696px;
            transition: transform 0.3s ease;
        }
        .swiper-slide .item{border-radius: 10px; overflow: hidden; overflow: hidden;}

        .arrows{justify-content: center; gap: 20px; position: relative; z-index: 11;}
        .arrows .arrow{color: white; cursor: pointer;}
        .arrows .arrow:hover{color: var(--primary-color);}
    }
    .trans-block3{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01); border-radius: 15px;
        display: flex; align-items: center; justify-content: space-between;

        .info{max-width: 710px; color: white; padding: px_rem(94px) 0 px_rem(94px) px_rem(76px);}
        .info .section-title{margin-bottom: 2rem;}
        .info p{margin-bottom: 1.5rem;}
        .info > *:last-child{margin-bottom: 0;}

        .image{padding: 20px;}
    }

    .space-center{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01) url(/images/space-sun.png) bottom right no-repeat; border-radius: 15px;
        padding: px_rem(94px) 0 px_rem(94px) px_rem(76px); min-height: 562px; display: flex; align-items: center;

        .info{max-width: 664px; color: white;}
        .info p{margin-bottom: 1.5rem;}
        .info > *:last-child{margin-bottom: 0;}
    }

    .explore-carousel{
        position: relative; overflow: hidden;
    
        .section-title{color: white; text-align: center;}

        .swiper{width: 100%; padding: 3rem 0;}
        .swiper-wrapper{align-items: flex-end; min-height: 430px;}
        .swiper-slide{width: 364px;}
        .swiper-slide.swiper-slide-prev .image{height: 370px;}
        .swiper-slide.swiper-slide-active .image{height: 430px;}
        .swiper-slide.swiper-slide-next .image{height: 370px;}

        .image{background: #EEE; height: 320px; transition: all 0.5s ease 0.4s;}
        .image img{width: 100%; height: 100%; object-fit: cover;}

        .arrows{justify-content: center; gap: 20px; position: relative; z-index: 11;}
        .arrows .arrow{color: white; cursor: pointer;}
        .arrows .arrow:hover{color: var(--primary-color);}
    }
    .echo-block1{
        overflow: hidden;

        .swiper-slide{overflow: hidden;}
        .container{display: flex; align-items: center; justify-content: space-between;}
        .text{max-width: 350px; position: relative; font-family: var(--font-thin); color: white; min-height: 100px; width: 100%;}
        .text.empty:after{content: ""; height: 2px; background: rgba(158, 172, 170, 1); width: 100%; position: absolute; top: 50%; transform: translateY(-50%);}
        .big-circle{
            --size: 656px; margin: auto;
            width: var(--size); height: var(--size); border-radius: var(--size);
            overflow: hidden; position: relative;
        
            .icon{position: absolute; cursor: pointer; top: 50%; z-index: 11; left: 50%; transform: translate(-50%, -50%);}
            .icon span{display: block; padding-top: 14px; text-transform: uppercase; font-size: 20px; line-height: 1; color: white; font-family: var(--font-medium); text-align: center;}
            
            &:after{content: ""; z-index: 0; pointer-events: none; background: rgba(black, 0.4); z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
        }
    }
    .echo-block3{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01); border-radius: 15px;
        display: grid; grid-template-columns: 674px auto; align-items: center; grid-gap: 40px;
        padding: px_rem(90px) px_rem(40px) px_rem(100px) px_rem(77px);

        .text{color: white;}
        .text .section-title{margin-bottom: 2rem; max-width: 535px;}
        .text p{margin-bottom: 1.5rem;}
        .text > *:last-child{margin-bottom: 0;}

        .image{flex-shrink: 0;}
    }

    .earth-block3{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01); border-radius: 15px;
        display: flex; align-items: center; justify-content: space-between; grid-gap: 20px;
        padding: px_rem(90px) px_rem(40px) px_rem(100px) px_rem(77px);

        .text{color: white; width: 674px;}
        .text .section-title{margin-bottom: 2rem; max-width: 450px;}
        .text p{margin-bottom: 1.5rem;}
        .text > *:last-child{margin-bottom: 0;}

        .image{flex-shrink: 0; display: flex; align-items: center; justify-content: center; width: 660px;}
    }

    .opacity-box{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01); border-radius: 15px; color: white;
    }

    .arabic-science-block{
        .main-title{margin-bottom: px_rem(58px); text-align: center; color: white;}
    }
    .arabic-science-block1{
        .opacity-box{
            display: flex; align-items: center; justify-content: space-between;
            padding: 70px 42px 70px 74px;

            .text{max-width: 616px;}
            .images{display: flex; align-items: flex-end; gap: 18px;}
            .images .image{height: 366px; width: 350px; background: #EEE; border-radius: 18px; overflow: hidden;}
            .images .image.small{width: 268px; height: 282px;}
            .images .image img{width: 100%; height: 100%; object-fit: cover;}
        }
    }
    .arabic-science-block2{
        position: relative;

        .image{
            height: 290px; border-radius: 18px; overflow: hidden;
            transition: all 0.5s ease;
        }
        .image img{width: 100%; height: 100%; object-fit: cover;}
        
        .text{
            width: calc(100% - 575px); color: white;
            position: absolute; top: 130px; left: 587px;
        }

        .swiper-wrapper{min-height: 530px; align-items: flex-end;}
        .swiper-slide{width: 290px; transition: none; will-change: width, transform;}
        .swiper-slide-active{width: 545px;}
        .swiper-slide-active .image{height: 530px;}

        .arrows{justify-content: center; margin-top: 3rem; gap: 20px; position: relative; z-index: 11;}
        .arrows .arrow{color: white; cursor: pointer;}
        .arrows .arrow:hover{color: var(--primary-color);}
    }
    .arabic-science-block3{
        .opacity-box{
            display: flex; align-items: center; justify-content: space-between;
            padding: 70px 32px 70px 77px;

            .text{max-width: 674px;}
            .text .section-title{max-width: 535px; margin-bottom: px_rem(32px);}
            .text > *:last-child{margin-bottom: 0;}
        }
    }

    .human-body-block1{
        max-width: 524px; color: white;
    
        .section-title{margin-bottom: 1.5rem;}
    }
    .human-body-block3{
        backdrop-filter: blur(15.3px);
        box-shadow: inset 0 0 25.3px 4px rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.01); border-radius: 15px; color: white;
        position: relative; isolation: isolate; overflow: hidden;

        .text{max-width: 674px; padding: 90px 0 77px 77px;}
        .text .section-title{margin-bottom: 2rem; max-width: 535px;}

        .image{
            position: absolute; right: 0; top: 50%; transform: translateY(-50%);
            mix-blend-mode: lighten; opacity: 0.8;
        }
    }

    &.our-echosystem{
        .video-area:after{background: rgba(0, 0, 0, 0.4);}
    }
    &.trans-page{
        .video-area:after{background: rgba(21, 53, 126, 0.2);}
    }
    &.our-space-page{
        .page-title-banner .page-banner-desc:after{background: rgba(89, 39, 111, 1);}
        .video-area:after{background: rgba(138, 56, 245, 0.15);}
    }
    &.arabic-science-page{
        .page-title-banner .page-banner-desc:after{background: rgba(207, 156, 90, 1);}
        .video-area:after{background: rgba(0, 0, 0, 0.3);}
    }
    &.human-body-page {
        .video-area{background: rgba(#CC2626, 0.30);}
        .video-area:after{background: rgba(0, 0, 0, 0.3);}
        .background-video{mix-blend-mode: luminosity;}
    }
}
