.rentals-page{
    .main-content{padding: 0;}
    .background-video{position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
}
.rentals{
    overflow: hidden; padding: 3rem 0 5rem; position: relative;
    .places-area-wrapper{
        display: grid; grid-template-columns: auto 1fr;
    }
    .left-bar{
        width: 380px;
    
        .section-title{margin-bottom: 12px;}
        .buttons{display: grid; margin: 12px 0 20px; grid-template-columns: 1fr 1fr; grid-gap: 12px;}
        .buttons .btn.active{background: var(--primary-color); border-color: var(--primary-color);}

        .nav-bar{background: white; display: grid; grid-gap: 10px; border-radius: 15px; padding: 15px;}
        .item{min-height: 54px; cursor: pointer; padding: 5px 20px 5px 24px; border-radius: 15px; font-size: 18px; display: grid; grid-template-columns: 24px 1fr; align-items: center; grid-gap: 10px; background: rgba(245, 247, 247, 1) url(/images/right-arrow.svg) calc(100% - 32px) center no-repeat;}
    }
    .right{
        padding-left: 122px; padding-top: 38px;

        .places-graph{
            .item{
                cursor: pointer; position: relative; max-width: fit-content;
                .marker{position: absolute; pointer-events: none;}
                img{display: block;}
                
                .text{position: absolute; text-align: center; color: white; font-size: 14px; line-height: 20px; font-family: var(--font-medium); text-transform: uppercase; display: flex; flex-direction: column; z-index: 11; max-width: fit-content;}
            }
            .item.no-area{pointer-events: none;}
            .item.arabic-science .text span{display: block; max-width: 150px;}
        }


        .link_bridge1{
            display: flex; position: relative; align-items: flex-end; gap: 42px; margin-bottom: 22px;
            
            .icon{
                position: absolute;
                left: 284px;
                bottom: 73px;
                text-align: center;
                display: grid; grid-gap: 7px;
            }
            .icon span{display: block; text-transform: uppercase; font-size: 14px; line-height: 20px; font-family: var(--font-medium);}
            .icon img{margin: auto;}
        }

        .link_bridge2{
            display: flex; position: relative; align-items: flex-start; gap: 50px;
            
            .icon{
                position: absolute;
                left: 325px;
                top: 60px;
                text-align: center;
                display: grid; grid-gap: 7px;
            }
            .icon span{display: block; text-transform: uppercase; font-size: 14px; line-height: 20px; font-family: var(--font-medium);}
            .icon img{margin: auto;}
        }
    }

    .places-graph{position: relative;}

    .show-zoomed-view & .places-area-wrapper{opacity: 0;}
    .show-zoomed-view & .places-area{
        opacity: 1; pointer-events: inherit;
    }
    .places-area{
        position: absolute; top: 0; left: 0; opacity: 0; min-height: 100%; pointer-events: none; transition: all 0.4s ease;
        padding: 68px 0 30px; z-index: 1000; width: 100%;

        .view{display: none;}

        &[data-view="arabic-science"] .view.arabic-science{display: block;}
        &[data-view="earth"] .view.earth{display: block;}
        &[data-view="theatre"] .view.theatre{display: block;}
        &[data-view="trans"] .view.trans{display: block;}

        .grid{display: grid; grid-template-columns: auto 1fr; align-items: flex-start;}

        .title-area{margin-bottom: 30px; display: flex; align-items: center; justify-content: space-between;}
        .title-area .section-title{margin-bottom: 0.5rem;}
        .calendar{
            display: flex; align-items: center; min-height: 64px; background: white;
            background: white; border-radius: 50px; padding: 5px 40px; display: flex; align-items: center; gap: 10px;
            font-size: px_rem(20px); line-height: 1; font-family: var(--font-thin); cursor: pointer;
        }
        .area-column{
            padding: 24px; width: 0; padding: 0; transition: all 0.4s ease; opacity: 0; transform: translateX(-200px); border-radius: 15px; background: white;
        
            .image{height: 132px; border-radius: 14px; overflow: hidden;}
            .image img{width: 100%; height: 100%; object-fit: cover;}

            .title{padding: 1rem 0; justify-content: space-between;}
            .title h3{font-size: px_rem(20px); font-family: var(--font-medium); line-height: 1; text-transform: uppercase; margin: 0;}
            .title .weight{gap: 0.25rem; font-size: px_rem(18px); line-height: px_rem(20px);; color: var(--primary-color); font-family: var(--font-medium);}
            .title .weight span{padding-top: 2px;}

            .list{list-style: none; margin-bottom: 1rem; font-size: px_rem(18px); line-height: 1; display: grid; grid-gap: 9px; color: rgba(32, 33, 37, 1); padding: 0;}
            .list > li{display: grid; grid-template-columns: auto 1fr; align-items: center; gap: 9px;}
            .list > li span{padding-top: 2px;}
            .list > li.sub-item{display: block; padding-inline-start: 29px; position: relative;}
            .list > li.sub-item:after{
                content: "";
                --size: 5px; background: black; position: absolute; left: 10px; top: 5px;
                width: var(--size);
                height: var(--size);
                border-radius: var(--size);
            }
        }

        &.show-left-col .area-column{width: 438px; padding: 24px; opacity: 1; transform: translateX(0);}

        .area-zoomed-view{
            position: relative; padding-top: 24px;
        
            .image{position: relative; max-width: fit-content; margin: auto;}
            .image .point{position: absolute; z-index: 111; cursor: pointer; display: flex; align-items: center; flex-direction: column; gap: 8px;}
            .image .point span{display: block; transform: rotate(7deg); transition: opacity 0.4s ease; opacity: 0; font-size: 18px; line-height: 20px; text-transform: uppercase; color: white; font-family: var(--font-medium);}
            .image .point:hover span{opacity: 1;}
            .image .text{
                position: absolute; max-width: 178px; display: flex; flex-direction: column; gap: 8px;
                text-transform: uppercase; font-size: 18px; line-height: 20px; color: white; font-family: var(--font-medium);
                text-align: center;
            }

            .cross{position: absolute; top: 0; right: 0; cursor: pointer;}
        }

    }
}

.gallery-modal{
    --bs-modal-width: 940px;

    .modal-content{border-radius: 0; border: 0; gap: 24px; background: transparent;}

    .cross-icon{position: absolute; z-index: 1000; top: 0; inset-inline-end: -100px; cursor: pointer;}

    .swiper{position: relative;}
    .main-preview .swiper{border-radius: 7px; overflow: hidden;}
    .main-preview .swiper img{max-width: 100%; min-width: 100%; display: block;}

    .arrow{
        position: absolute; top: 50%; transform: translateY(-50%); color: white; z-index: 111;
        --offset: 106px; left: calc(var(--offset) * -1);

        &.next{left: auto; right: calc(var(--offset) * -1);}

        &:hover{color: var(--primary-color);}
    }

    .main-preview{position: relative;}

    .thumbnails .item{height: 190px; border-radius: 7px; overflow: hidden; position: relative; cursor: pointer;}
    .thumbnails .item img{width: 100%; height: 100%; object-fit: cover;}
    .thumbnails .swiper-slide-thumb-active .item:after{content: ""; background: rgba(black, 0.6); position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}